* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	height: 100%;
	font-size: 625%;
	margin: 0;
	padding: 0;
	background: #fafafa;
}
body {
	font-size: 0.16rem;
}
ul {
	list-style: none;
}

/*header*/
header {
	padding-right: 0.2rem;
	padding-left: 0.2rem;
	width: 100%;
	height: 0.3rem;
	overflow: hidden;
}
.phone {
	display: none;
	color: #29b078;
	font-size: 0.14rem;
	line-height: 0.3rem;
}

.icon-group {
	display: none;
	float: right;
	line-height: 0.3rem;
	font-size: 0.14rem;
	padding-top: 0.02rem;
}
.icon-group li {
	margin-right: 0.1rem;
}
.bg-qq {
	display: inline-block;
    width: 25px; height: 24px;
    background: url(../image/index-assets/css_sprites.png) -82px -104px;
}
.bg-weibo {
	display: inline-block;
    width: 25px; height: 24px;
    background: url(../image/index-assets/css_sprites.png) -127px -104px;
}
.bg-weixin {
	display: inline-block;
    width: 25px; height: 24px;
    background: url(../image/index-assets/css_sprites.png) -10px -179px;
}

.breadcrumb {
	float: right;
	line-height: 0.3rem;
	font-size: 0.15rem;
	padding: 0;
	margin-left: 0.15rem;
	background: transparent;
	
}
.breadcrumb a {
	color: #000;	
}
.breadcrumb a:hover {
	color: #29b078;	
	text-decoration: none;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "| ";
    padding: 0 7px;  
}

/*navegation*/
.navbar {
	border: none;
	border-radius: 0;
	background: #29b078;
	font-size: 0.17rem;	
	color: #fff;	
	margin: 0;
}
.nav a{
	text-align: center;
}
.nav a:hover {
	border-bottom: 1px solid #fff;
}
.brand-img {
	max-width: 100%;
	width: 65px;
}
/*背景*/

#myCarousel img {
	max-width: 100%;
	width: 100%;
}

/*main content*/
.container {
	margin-top: 0.1rem;
}
.container h5 {
	margin-bottom: 0.3rem;
	font-size: 0.16rem;
}
.row>div {
	padding: 0;
}
.navegation {
	margin-bottom: 0.2rem;
	padding-bottom: 0.5rem;
	border: 2px solid #e6e6e6;
	border-radius: 0.05rem;
	text-align: center;
}
.navegation p {
	margin-top: 0.3rem;
	padding-bottom: 0.2rem;
	margin-bottom: 0.2rem;
	border-bottom: 1px solid #cccccc;
	font-weight: 700;
}
.navegation ul {
	display: inline-block;
	text-align: left;
	font-size: 0.15rem;
	letter-spacing: 0.02rem;
}
.navegation li {
	margin-bottom: 0.3rem;

}
.navegation li::before {
	content:" "; 
	display: inline-block;
	width: 0.1rem;
	height: 0.1rem;
	border: 1px solid #ff650e;
	border-radius: 50%;
	margin-right: 0.15rem;
}
.navegation a {

	color: #29b078;
	text-decoration: none;
}

.navegation a:hover {
	color: #ff650e;
	text-decoration: none;
}

.navegation li.checked>a {
	color: #ff650e;
}
.navegation li.checked::before {
	background: #ff650e;
}

.wrap-company {
	padding: 0.2rem;
	border: 2px solid #e6e6e6;
	border-radius: 0.05rem;
	color: #999;
	text-indent: 0.32rem;
	line-height: 0.3rem;
}
.wrap-company img {
	max-width: 100%;
	vertical-align: bottom;
	margin-right: 0.1rem;
}


/*footer*/
footer {
	margin-top: 0.3rem;
	padding-left: 0.1rem;
	background: #26a26f;
	color: #fff;
}
.footer-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.footer-wrap>div {
	margin-bottom: 0.1rem;
	-webkit-box-flex: 1;
	    -ms-flex: 1 100%;
	        flex: 1 100%;
}
footer>P {
	padding-top: 0.1rem;
	font-size: 0.12rem;
	text-align: center;
	border-top: 1px solid #32c086;
}
.middle h4,
.left h4 {
	margin-bottom: 0.2rem;
}
.breadcrumb2 {
	list-style: none; 
	font-size: 0.14rem;
	margin-bottom: 0.1rem;

}
.breadcrumb2 li{
	display: inline-block;
	 	
}
.breadcrumb2 > li + li:before {
    color: #CCCCCC;
    content: "| ";
    padding: 0 7px;  
}


.middle>.breadcrumb2 > li + li:before {
    color: #CCCCCC;
    content: "  ";
    padding: 0 7px;  
}


@media screen and (min-width: 800px) {
	/*header*/
	header {
		padding-right: 1.4rem;
		padding-left: 1.4rem;
	}
	.icon-group, .phone {
		display: inline-block;
	}

	/*navegation*/
	.navbar {
		position: relative;
		padding-left: 1.25rem;
		padding-right: 1.25rem;
		background: #29b078;
		font-size: 0.17rem;	
		color: #fff;	
		height: 0.9rem;
	}
	.nav a{
		margin-left: 0.2rem;
		color: #fff;
		vertical-align: middle;
		height: 0.9rem;
	}
	.nav a:before {
		display: inline-block;
		content: '';
		height: 100%;
		vertical-align: middle;
	}
	.nav a:hover {
		color: #fff;
		border-bottom: 4px solid #fff;
	}
	.navbar-brand {
		display: inline-block;
		margin-top: 0.2rem;
		margin-bottom: 0.2rem;
		padding: 0;
	}
	.brand-img {
		max-width: 100%;
		width: 107px;
		height: 49px;
	}

/*container*/
.navegation {
	margin-right: 0.4rem;
}

/*footer*/
	footer {
		padding-left: 0.4rem;
		padding-right: 0.4rem;
	}
	.footer-wrap {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.footer-wrap>div {
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;		
	}
	
	.right {
		text-align: center;
	}

	.middle {
		text-align: center;
	}
	.middle-wrap {
		display: inline-block;
		text-align: left;
	}
	

}

@media screen and (min-width: 1100px) {
	

	/*footer*/
	footer {
		padding-left: 1.4rem;
		padding-right: 1.4rem;
	}
}